*{
    margin: 0px;
    overflow: hidden;
}

.nav-bar{
    background-image: linear-gradient(to right,#fffffffe,lightgrey,red,orange,indigo,skyblue,violet);
    width: 100%;
    padding:0px;
}


.img {
    width: 65px;
    height: 65px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.apple-text{
    margin-right:20px;
}

.login-container{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login {
    background-color: transparent;
    height:300px;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-text{
    font-size: 25px;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.button{
    background-color: #0080FF;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    width: 50%;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}


.button-div{
    display: flex;
    flex-direction: column;
    justify-content: center
}

